.relatedProduct{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
   
}
.relatedProduct h2{
    text-align: center;
}
.related{
    padding: 20px;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow-x: scroll;
}
