.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.signUpBox{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: rgb(253, 198, 198);
    padding: 20px;
    gap: 10px;
    /* width: 25%; */
    /* height:60%; */
    align-items: center;
    justify-content: center;
}
.signUpBox input{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.signUpBox button{
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    background: green;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.already{
    display: flex;
    gap: 5px;
    font-size: 15px;
}
