.adminNavbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: .5px solid grey;
    padding: 10px 0px 10px 0px;
}
.adminNavbar button{
    border: none;
    outline: none;
    padding: 5px 15px 5px 15px;
    font-weight: 600;
    border-radius: 10px;
    background: rgb(184, 182, 182);
}
@media (max-width:450px) {
    .adminNavbar h1{
        font-size: 20px;
    }
  }